@model List<GridMoment.UI.WebSite.Models.PostViewModel>
@{ 
    int length = Model.ToList().Count,   //длина всей коллекции постов
        w = length % 3,                  //остаток постов(последняя строчка)
        contextRounds = (length - w) / 3,//цисло строк в представлении
        countHorizontalElements = 3,     //число элементов в строке
        postCounter = 0;                 //счётчик постов

}

@for (int i = 0; i < length; i++)
{
    <div class="row center-block">
        <!-- BEGIN ROW -->
        @for (int j = 0; j < countHorizontalElements; j++)
        {
            <div class="col-lg-4 col-md-4 col-sm-4 margin-border">
                <a href="@Html.ActionLink(Model[postCounter].NamePost, "Show", "Post", new { postId = Model[postCounter].PostId }, null)">
                    <!--Begin post-->
                    <img class=" img-thumbnail" src="@Html.Action("ShowSourceOfPost", "Post", new { postId = Model[postCounter].PostId })" />
                <div class="text-left foo">@Model[postCounter].Text</div>
                <footer>
                    <span class="glyphicon glyphicon-calendar pull-right">@Model[postCounter].CreatedTime</span>
                    <div>
                        @Html.ActionLink(Model[postCounter].AuthorName, "ViewProfile", "Profile", new { login = Model[postCounter].AuthorName }, null)<span class="glyphicon glyphicon-user"></span>
                    </div>
                </footer>
                </a>
            </div> <!--End post-->
            { postCounter++; /*инкремент постов*/ }
        }
        </div>
}


