@model GridMoment.UI.WebSite.Models.PostViewModel
@{
    ViewBag.Title = Model.NamePost;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Styles/bootstrap.css" rel="stylesheet">
    <link href="~/Styles/post.css" rel="stylesheet" />
    <link href="~/Styles/header.css" rel="stylesheet">
    <link href="~/Styles/footer.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="block ">
                    <div class="cover">
                        <img class="img-thumbnail center-block" src="@Url.Action("ShowSourceOfPost", "Post", new { postId = Model.PostId })" />
                    </div>
                    <h1>@Model.NamePost</h1><br>                    
                    <div>
                        @Model.Text<br>
                    </div>
                </div>
            </div>
        </div>
        <!--инфо о альбоме-->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="album_info">
                    <div class=" col-lg-10 col-md-10 col-sm-10 col-xs-8 main_info">
                        <div class="tags col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="vcenter">
                                Метки:
                                @foreach (var item in Model.Tags)
                                {
                                    <a>@item</a>
                                }
                            </div>
                            <div class="helper"></div>
                        </div>
                        <div class="favorite col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="vcenter">
                                <div class="btn-group">
                                    <button id="favour_button" class="btn btn-default btn-sm">В избранное </button>
                                    <button id="plus-rating-btn" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
                                    <button id="minus-rating-btn" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
                                    <button id="rating" class="btn btn-default btn-sm disabled">143</button>
                                </div>
                            </div>
                            <div class="helper"> </div>
                        </div>
                    </div>
                    <div class="autor_block col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        <div class="autor col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-push-6 col-md-push-6 col-sm-push-6 col-xs-push-6">
                            <img src="@Url.Action("ShowAvatar", "Account", new { name = Model.AuthorName })" class="img-circle img-responsive autor_icon" />

                        </div>
                        <div class="autor_name text-center col-lg-6 col-md-6 col-sm-6 col-xs-6  col-lg-pull-6 col-md-pull-6 col-sm-pull-6 col-xs-pull-6">
                            <div class="vcenter ">
                                <span class="text-muted text-center ">@Model.AuthorName</span>
                            </div>
                            <div class="helper"></div>
                        </div>
                    </div>
                </div>
                <!--Комменты-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 block">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment"> <!--границы комментария-->
                        <div class="media-left media-top">
                            <a class="text-muted">
                                <img class="img-circle comment_autor_icon" src="https://source.unsplash.com/random">
                            </a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading text-muted">
                                <b>Семенов Семен</b>
                                <span class="time text-muted">17:16</span><span class="date text-muted">11.11.2011</span>

                            </a>
                            <ul class="list-unstyled pull-right">
                                <li class="dropdown">
                                    <a class="drop-btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-menu-hamburger pull-right text-muted"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a><center>Изменить</center></a></li>
                                        <li><a><center>Удалить</center></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>
                                Это просто кусок текста, не несущий смыслового значения, просто чтобы был большой кусок текста. Если содержимое блока превышает указанную высоту, то высота элемента останется неизменной, а содержимое будет отображаться поверх него. Из-за этой особенности может получиться наложение содержимого элементов друг на друга, когда элементы в коде HTML идут последовательно. Чтобы этого
                            </div>
                            <div class="btn-group right">
                                <a class="btn text-muted glyphicon glyphicon-thumbs-down like-icon"></a>
                                <a class="btn text-muted glyphicon glyphicon-thumbs-up like-icon"></a>
                                <label class="text-muted">0</label>
                            </div>
                        </div> 
                    </div> <!--границы комментария-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment"> <!--границы комментария-->
                        <div class="media-left media-top">
                            <a class="text-muted">
                                <img class="img-circle comment_autor_icon" src="https://source.unsplash.com/random">
                            </a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading text-muted">
                                <b>Петров Петр</b>
                                <span class="time text-muted">17:16</span><span class="date text-muted">11.11.2011</span>
                            </a>
                            <ul class="list-unstyled pull-right">
                                <li class="dropdown">
                                    <a class="drop-btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-menu-hamburger pull-right text-muted"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a><center>Изменить</center></a></li>
                                        <li><a><center>Удалить</center></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>
                                И тут тоже
                            </div>
                            <div class="btn-group right">
                                <a class="btn text-muted glyphicon glyphicon-thumbs-down like-icon"></a>
                                <a class="btn text-muted glyphicon glyphicon-thumbs-up like-icon"></a>
                                <label class="text-muted">0</label>
                            </div>
                        </div>
                    </div> <!--границы комментария-->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment"> <!--границы комментария-->
                        <div class="media-left media-top">
                            <a class="text-muted">
                                <img class="img-circle comment_autor_icon" src="https://source.unsplash.com/random">
                            </a>
                        </div>
                        <div class="media-body">
                            <a class="media-heading text-muted">
                                <b>Васильев Василий</b>
                                <span class="time text-muted">17:16</span><span class="date text-muted">11.11.2011</span>
                            </a>
                            <ul class="list-unstyled pull-right">
                                <li class="dropdown">
                                    <a class="drop-btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-menu-hamburger pull-right text-muted"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a><center>Изменить</center></a></li>
                                        <li><a><center>Удалить</center></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div>
                                Вау, еще один
                            </div>
                            <div class="btn-group right">
                                <a class="btn text-muted glyphicon glyphicon-thumbs-down like-icon"></a>
                                <a class="btn text-muted glyphicon glyphicon-thumbs-up like-icon"></a>
                                <label class="text-muted">0</label>
                            </div>
                        </div>
                    </div> <!--границы комментария-->

                    <form role="form" class="comment_form">
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputComment" placeholder="Оставьте свой отзыв">
                        </div>

                        <button type="submit" class="btn btn-default right">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/libs/bootstrap.js"></script>
    <script src="~/Scripts/post.js"></script>
    <script src="~/Scripts/header.js"></script> <!-- header вставляется в первый попавшийся класс container-fluid -->
    <script src="~/Scripts/footer.js"></script> <!-- footer вставляется в конец body -->
</body>
</html>
