@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Gimble: Главная</title>
    <meta charset="utf-8" />
    <link href="~/Styles/libs/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/libs/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Styles/index.css" rel="stylesheet" />
    <link href="~/Styles/header.css" rel="stylesheet" />
    <link href="~/Styles/footer.css" rel="stylesheet" />
    <link href="~/Styles/Loading.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header class="headhesive row">
        <!--logotype-->
        <div class="col-xs-3">
            <a href="~/Home/Index" class="logo_pull-left ajax-loading">
                <div id="head-logo" href=#></div>
            </a>
        </div>
        
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("Search", "Post", FormMethod.Post))
            {
                <div class="col-xs-3 col-xs-offset-3">
                    <input type="text" name="tag" class="form-control search" placeholder="Введите название поста">
                </div>
                <div class="col-xs-1 search">
                    <button type="submit" class="btn btn-default btn-sm">Поиск</button>
                </div>
            }
            <div class="col-xs-12">
                <ul class="profile-button list-unstyled pull-right">
                    <li class="dropdown pull-right">
                        <a class="drop-btn dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            @User.Identity.Name
                            <span class="glyphicon glyphicon-triangle-bottom"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li> <a class="ajax-loading" href="~/Profile/Index">Мой профиль</a></li>
                            <li> <a class="ajax-loading" href="~/Settings/Index">Настройки</a></li>
                            <li class="divider"></li>
                            <li> <a class="ajax-loading" href="~/Account/Logout">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        }
    </header>
            
        <!--Логотип + Панель регистрации-->
        <div class="full-height top-background-image">
            <!--Логотип-->
            <div class="row center-block">
                <img class="center-block gimble-logo" src="/Content/Images/logo.png" />
            </div>
            <!-- Модальное окно регистрации-->
            <div id="registerModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Регистрация</h4>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("~/Views/Account/Register.cshtml")
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно входа-->
            <div id="loginModal" class="modal fade">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 class="modal-title">Вход</h3>
                        </div>
                        <div class="modal-body">
                            @Html.Partial("~/Views/Account/Login.cshtml")
                        </div>
                        <div class="modal-footer">
                            <span>Вы у нас впервые? </span><a id="registerLink" href="#">Зарегистрироваться</a>
                        </div>
                    </div>
                </div>
            </div>

            @if (!User.Identity.IsAuthenticated)
            {
                <button id="btnShowLogin" class="btn btn-default btn-lg col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-5">
                    Войти
                </button>
            }
            else
            {
              <p><h1 class="col-xs-12 text-center">Добро пожаловать, @User.Identity.Name</h1></p>
              <p><h2 class="col-xs-12 text-center">@User.Identity.Name, осуществи свои мечты, 
                  @Html.ActionLink("cоздай пост", "Add", "Post")</h2></p>
            }

                <!-- Стрелка -->
            <div class="col-xs-10 col-xs-offset-1 hidden-xs arrow-scroll">
                <a class="page-scroll" href="#main-content">
                    <img class="center-block" src="/Content/Images/arrow.png" />
                </a>
            </div>
</div>

        <br />
    <div class="container-fluid">
        <!-- Основной контент -->
        <ul class="nav nav-tabs row centered">
            <li id="main-content" class="active"><a data-toggle="tab" href="#last-story-panel">Последние записи</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    Лучшие записи
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="tab" href="#best-story-7">За неделю</a></li>
                    <li><a data-toggle="tab" href="#best-story-30">За месяц</a></li>
                </ul>
            </li>           
        </ul>

        <div class="tab-content">
            <div id="last-story-panel" class="tab-pane fade in active">
                <!--Доска последних историй-->                
                @{Html.RenderAction("ShowLatestNews", "Post");}
             </div>

            <div id="best-story-7" class="tab-pane fade">
                <!--Доска лучших историй за 7 дней-->
                @{Html.RenderAction("Show7DaysNews", "Post");}
            </div>

            <div id="best-story-30" class="tab-pane fade">
                @{Html.RenderAction("Show30DaysNews", "Post"); }
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
                <div class="block center-block" id="loading"><img src="~/Content/Images/Nofotogif.gif"></div>
            </div>
            <div class="col-xs-4"></div>            
        </div>

    </div>
        <footer class="footer center-block">
            <!--Название компании и год её основания-->
            <div class="container">
                <p class="text-muted">IBS Production &copy; @DateTime.UtcNow.Year год</p>
            </div>
        </footer>    

    <br>   


    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>    
    <script src="/Scripts/modalwindow.js"></script><!-- Управление модальными окнами -->
    <script src="/Scripts/scrolling-nav.js"></script>
    <script src="/Scripts/jquery.easing.min.js"></script>
    <script src="/Scripts/header.js"></script><!-- header вставляется в первый попавшийся класс container-fluid -->
    <script src="~/Scripts/PartialLoading.js"></script>
</body>
</html>
